</html>
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>WELCOME</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">{% for n in data %}
    {{n}}
    {% endfor %}</h1>
  </div>

<form method="POST" action="/search">
<p>Search for a stock: <input type="text" name="stock"> <input type="submit" value="Search"></p>
</form>

</header>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3><a href="/chathome">Chat Bot</a></h3><br>
  <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Instant response</p>
  <p>Completely free</p>
  <p>Easy to use</p>
  <p>Won't get mad at your dumb questions</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3><a href="/watchlist">Watchlist</a></h3><br>
  <i class="fa fa-binoculars w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Keep up with the times</p>
  <p>Great for forgetful people</p>
  <p>It's a watchlist</p>
  <p>What else do you want me to say?</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3><a href="/portfolio">Portfolio</a></h3><br>
  <i class="fa fa-area-chart w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Step 1: Buy stocks</p>
  <p>Step 2: ?</p>
  <p>Step 3: ?????</p>
  <p>Step 4: Profit!</p>
  </div>
</div>
</div>

<hr>
<div class="w3-center">
  <br>
  <a href='/logout' class="w3-button w3-theme">Logout</a>
</div>
</script>

</body>
</html>