<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome
    {% for n in data %}
    {{n}}
    {% endfor %}
</h1>

<p><a href="/chathome">Go to the chat page</a></p>
<p><a href="/watchlist">Watchlist</a></p>
<p><a href="/portfolio">Portfolio</a></p>
<p><a href="/stock">Search stock</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
